.shapesmenu{
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 100, 119);
    height:80px;
    line-height: 200%;
    align-items: center;
}

li{
    list-style: none;
}

label{
    margin-left:10px ;
    margin-right:10px;
    color:blanchedalmond
}
#eraseDiv{
    margin-left: 40px;
}

#undoDiv,#redoDiv,#selectDiv{
   margin-left: 2px;
}

#erase,#undo,#redo,#select,#Load,#save{
    padding:10px 10px 10px 10px;
    border-radius: 10px;
}

#erase:hover,#undo:hover,#redo:hover,#select:hover,#save:hover,#Load:hover{
    background-color: aliceblue;
    cursor: pointer;
}

#erase:active,#undo:active,#redo:active,#select:active,#save:active,#Load:active{
    transform: translateY(2px);
}

#LoadDiv{
    margin-left: 180px;
}

#saveDiv{
    position: relative;
    margin-left: 30px; 
}

#SavingUL{
    border: 2px solid black;
    position: absolute;
    top: 35px;
    right: 8px;
    background-color: rgba(207, 207, 207, 0.521);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}

#SavingUL input{
    border-style: none;
    height: 100%;
    width:100%;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

#SavingUL input:hover{
    background-color: rgb(29, 180, 255);
}


/*    Shapess Container   */
#shapesContainer{
    background-color: rgba(193, 192, 186, 0.427);
    border : aliceblue 2px solid;
    display: grid;
    grid-template-columns: repeat(4,50px);
    width:200px;
    height: 70px;
    margin-left: 10px;
    border-radius: 5px;
}

#EditSelected{
    background-color: rgba(193, 192, 186, 0.427);
    border : aliceblue 2px solid;
    display: grid;
    grid-template-columns: repeat(2,50px);
    width:100px;
    height: 70px;
    margin-left: 10px;
    border-radius: 5px;
}


#Coloring{
    display: flex;
    background-color: rgba(193, 192, 186, 0.427);
    border : aliceblue 2px solid;
    width:350px;
    height: 70px;
    margin-left: 10px;
    border-radius: 5px;
}

#Coloring li{
    display: flex;
    margin-left: 20px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    height:40px;
    width:40px
}

#Coloring #col [type ="color"]{
    margin-left: 20px;
}

#shapesContainer,#EditSelected li{
    color:rgb(255, 232, 232);
    cursor: pointer;
    text-align: center;
}

#shapesContainer li:hover ,#EditSelected li:hover ,#Coloring li:hover {
    background-color: rgba(216, 216, 216, 0.647);
    border-radius: 10px;
}


/******************************/
.active{
    background-color: rgb(136, 255, 239);
    border-radius: 10px;
}

.fileUpload {
    display: none;
}