<ul class="shapesmenu">
    <div id="shapesContainer">
        <li (click)="asign('triangle')"> <i class="bi bi-triangle-fill"></i> </li>
        <li (click)="asign('line')"> <i class="bi bi-slash-lg"></i> </li>
        <li *ngFor="let shape of shapes" (click)="asign(shape.name)"><fa-icon [icon]="shape.icon"></fa-icon></li>
    </div>

    <div id="EditSelected">
        <li *ngFor="let edit of Edits" (click)="doEdits(edit.name)"> <fa-icon [icon]="edit.icon"></fa-icon></li>
    </div>

    <div id="Coloring">
        <li  (click)="Fillborder()" >  <fa-icon [icon]="faFillDrip"></fa-icon> </li>
        <li  (click)="Fill()" [ngClass]="{'active':this.s.state == 'Fill'}" >  <fa-icon [icon]="faFill"></fa-icon> </li>
        <div id="col"> <label>pick a color</label><input type="color" [(ngModel)]="this.s.color"></div>
        <div> <label>Thickness</label><input type="range" [(ngModel)]="this.s.thickness" min ="1" (change) ="ChangeThickness()"></div>
    </div>
    

    <div id="eraseDiv"><label>Erase All</label><fa-icon [icon]="faEraser" (click)="erase()" id="erase"></fa-icon></div>

    <div id="undoDiv"><label>Undo</label><fa-icon [icon]="faUndo"  id="undo" (click)="undo()"></fa-icon></div>

    <div id="redoDiv"><label>Redo</label><fa-icon [icon]="faRedo"  id="redo"  (click)="redo()"></fa-icon></div>
     
    <div id="selectDiv">
        <label>Select</label>
        <fa-icon [icon]="faMousePointer"  id="select"  (click)="select()" [ngClass]="{'active':this.s.state == 'DrawSelectBox'}"></fa-icon>
    </div>

    <div id="LoadDiv"><label>Load</label><fa-icon [icon]="faFileUpload"  id="Load" (click)="load('XML')"></fa-icon></div>

    <div id="saveDiv"><label>Save</label><fa-icon [icon]="faSave"  id="save" (click)="saving = !saving"></fa-icon>
    
        <div *ngIf="saving" id="SavingUL">
            <input type="button" value="Save Json" (click)="saveJson()">
            <input type="button" value="Save Xml" (click)="saveXML()">
        </div>
    </div>
    
</ul>