<ul class="shapesmenu">
    <li *ngFor="let shape of shapes" (click)="asign(shape)">{{shape}}</li>

    <label id="pickcolorlabel">pick a Color:</label> <input type="color" [(ngModel)]="this.s.color">

    <div id="eraseDiv"><label>Erase</label><fa-icon [icon]="faEraser" (click) = "erase()" id="erase"></fa-icon></div>

    <div id="undoDiv"><label>Undo</label><fa-icon [icon]="faUndo"  id="undo" (click)="undo()"></fa-icon></div>

    <div id="redoDiv"><label>Redo</label><fa-icon [icon]="faRedo"  id="redo"  (click)="redo()"></fa-icon></div>

    <div id="selectDiv">
        <label>Select</label>
        <fa-icon [icon]="faMousePointer"  id="select"  (click)="select()" [ngClass]="{'active':this.s.sel}"></fa-icon>
    </div>

    <div id="LoadDiv"><label>Load</label><fa-icon [icon]="faFileUpload"  id="Load"></fa-icon></div>

    <div id="saveDiv"><label>Save</label><fa-icon [icon]="faSave"  id="save"></fa-icon></div>
</ul>
