.shapesmenu{
    display: flex;
    flex-direction: row;
    background-color: rgb(22, 100, 119);
    height:80px;
    line-height: 200%;
    align-items: center;
}

label{
    margin-left:10px ;
    margin-right:10px;
    color:blanchedalmond
}

#eraseDiv,#undoDiv,#redoDiv,#selectDiv{
   margin-left: 1px;
}

#erase,#undo,#redo,#select,#Load,#save{
    padding:10px 10px 10px 10px;
    border-radius: 10px;
}

#erase:hover,#undo:hover,#redo:hover,#select:hover,#save:hover,#Load:hover{
    background-color: aliceblue;
    cursor: pointer;
}

#LoadDiv{
    margin-left: 350px;
}

#saveDiv{
    margin-left: 10px; 
}

/*    Shapess Container   */
#shapesContainer{
    background-color: rgba(193, 192, 186, 0.427);
    border : aliceblue 2px solid;
    display: grid;
    grid-template-columns: repeat(4,50px);
    width:300px;
    height: 70px;
    margin-left: 5px;
    border-radius: 5px;
}

#EditSelected{
    background-color: rgba(193, 192, 186, 0.427);
    border : aliceblue 2px solid;
    display: grid;
    grid-template-columns: repeat(2,50px);
    width:100px;
    height: 70px;
    margin-left: 5px;
    border-radius: 5px;
}


#Coloring{
    background-color: rgba(193, 192, 186, 0.427);
    border : aliceblue 2px solid;
    width:150px;
    height: 70px;
    margin-left: 5px;
    border-radius: 5px;
}

#Coloring li{
    margin-left: 20px;
    list-style: none;
    color:rgb(0, 0, 0);
    cursor: pointer;
    text-align:center;
    margin-top: 2px;
    width:40px
}

#shapesContainer,#EditSelected li{
    list-style: none;
    color:rgb(255, 232, 232);
    cursor: pointer;
    text-align: center;
}

#shapesContainer li:hover ,#EditSelected li:hover ,#Coloring li:hover {
    background-color: rgba(216, 216, 216, 0.647);
    border-radius: 10px;
}


/******************************/
.active{
    background-color: rgb(136, 255, 239);
    border-radius: 10px;
}
